@import "vars";
@import url("http://fonts.googleapis.com/earlyaccess/notosansjapanese.css");

* {
    box-sizing: border-box;
}

body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    color: $base-font-color;
}

pre, code, var, samp, kbd {
    font-family: $code-font-family;
    font-size: $code-font-size;
}

header {
    color: $header-font-color;
    font-family: $header-font-family;
    background: $header-bgcolor;
    padding: $base-padding;
    #branding {
        max-width: $header-width;
        height: $header-height;
        margin: auto;
        h1 {
            font-size: $header-title-size;
            text-transform: uppercase;
        }
        h2 {
            font-size: $header-subtitle-size;
        }
        a {
            color: inherit;
            text-decoration: none;
        }
    }

    #social {
        a {
            color: inherit;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        span:not(:last-child)::after {
            content: " | "
        }
    }
}

footer {
    max-width: $footer-width;
    margin: auto;
}

span.timestamp::after {
    content: $timestamp-pseudo;
    margin: $entry-meta-margin;
}

span.tag {
    &:not(:last-child)::after {
        content: $tag-pseudo;
    }

    a {
        color: $divider-color;

        &:hover {
            color: $anker-color;
            text-decoration: none;
        }
    }
}

main {
    max-width: $main-width;
    margin: auto;

    a {
        color: $anker-color;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

main#index {
    article {
        padding: $base-padding;
        width: 100%;
        
        .entry-meta {
            color: $entry-meta-font-color;
        }

        h1, h2, h3, h4, h5, h6 {
            font-family: $entry-title-font-family;
        }

        h1 {
            color: $entry-title-color;
            font-size: $entry-h1-size;
        }

        h2 {
            color: $entry-section-color;
            font-size: $entry-h2-size; 
        }
    }
}

main#list {
    h1 {
        color: $entry-title-color;
        font-size: $list-entry-h1-size;
    }

    .list-summary:not(:last-child) {
        border-bottom: 1px solid #777777;
    }

    .list-meta {
        color: $entry-meta-font-color;
        margin-bottom: $base-margin;
    }
}

nav {
    max-width: $main-width;
    margin: auto;
    color: $nav-font-color;
    span.prev {
        max-width: $nav-span-width;
        float: left;
    }
    span.next {
        max-width: $nav-span-width;
        float: right;
    }

    a {
        color: inherit;
        text-decoration: none;

        &:hover {
            color: $anker-color;
        }
    }
}

.copyright {
    color: $copyright-font-color;
    font-size: $copyright-font-size;
}