@charset "UTF-8";
* {
  box-sizing: border-box; }

body {
  font-family: 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "VL PGothic", "Open Sans", Helvetica, sans-serif;
  font-size: 16px;
  color: #515151; }

pre, code, var, samp, kbd {
  font-family: Consolas, "Courier New", Courier, Monaco, monospace;
  font-size: 14px; }

header {
  color: #f5f5f5;
  font-family: "Open Sans Condensed", Helvetica, sans-serif;
  background: #0379C4;
  padding: 24px; }
  header #branding {
    max-width: 1280px;
    height: 100px;
    margin: auto; }
    header #branding h1 {
      font-size: 36px;
      text-transform: uppercase; }
    header #branding h2 {
      font-size: 18px; }

footer {
  max-width: 1280px;
  margin: auto; }

main {
  max-width: 900px;
  margin: auto; }
  main article {
    padding: 24px;
    width: 100%; }
    main article .entry-meta {
      color: #bbbbbb; }
      main article .entry-meta span.timestamp::after {
        content: "|";
        margin: 0 7px; }
      main article .entry-meta span.tag:not(:last-child)::after {
        content: ","; }
    main article h1, main article h2, main article h3, main article h4, main article h5, main article h6 {
      font-family: "Open Sans Condensed", Helvetica, sans-serif; }
    main article h1 {
      color: #777777;
      font-size: 24px; }
    main article h2 {
      color: #888888;
      font-size: 18px; }

.copyright {
  color: #bbbbbb;
  font-size: 12px; }
