{{ partial "header" . }}
  <main id="index">
    <article>
      <h1>{{ .Title }}</h1>
      <div class="entry-meta">
        <span class="timestamp"><time>{{ .Date.Format "2006-01-02 15:04:05" }}</time></span>
        {{ range $index, $tag := .Params.tags }}
        {{ $path := $tag | printf "%s%s" "/tags/" | urlize | relURL }}
        <span class="tag"><a href='{{ $path }}'>#{{ $tag }}</a></span>
        {{ end }}
      </div>
      {{ .Content }}
    </article>
  </main>
  <nav>
    {{ if .Prev }}{{ $title := .Prev.Title }}
    <span class="prev">&lt;&lt;&nbsp;<a href="{{ .Prev.Permalink }}">{{ $title }}</a></span>{{ end }}
    {{ if .Next }}{{ $title := .Next.Title }}
    <span class="next"><a href="{{ .Next.Permalink }}">{{ $title }}</a>&nbsp;&gt;&gt;</span>{{ end }}
  </nav>
{{ partial "footer" . }}