$main-width: 900px;
$header-width: 1280px;
$header-height: 100px;
$footer-width: 1280px;

$base-font-color: #515151;
$base-font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, "VL PGothic", "Open Sans", Helvetica, sans-serif;
$base-font-size: 16px;
$base-padding: 24px;
$base-margin: 24px;

$header-font-color: #f5f5f5;
$header-font-family: "Open Sans Condensed", Helvetica, sans-serif;
$header-title-size: 36px;
$header-subtitle-size: 18px;
$header-bgcolor: #0379C4;

$entry-title-color: #777777;
$entry-section-color: #888888;
$entry-title-font-family: "Open Sans Condensed", Helvetica, sans-serif;
$entry-h1-size: 24px;
$entry-h2-size: 18px;
$list-entry-h1-size: 18px;
$entry-meta-font-color: #bbbbbb;
$timestamp-pseudo: "|";
$tag-pseudo: ",";
$entry-meta-margin: 0 7px;

$code-font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
$code-font-size: 14px;

$copyright-font-color: #bbbbbb;
$copyright-font-size: 12px;

* {
    box-sizing: border-box;
}

body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    color: $base-font-color;
}

pre, code, var, samp, kbd {
    font-family: $code-font-family;
    font-size: $code-font-size;
}

header {
    color: $header-font-color;
    font-family: $header-font-family;
    background: $header-bgcolor;
    padding: $base-padding;
    #branding {
        max-width: $header-width;
        height: $header-height;
        margin: auto;
        h1 {
            font-size: $header-title-size;
            text-transform: uppercase;
        }
        h2 {
            font-size: $header-subtitle-size;
        }
    }
}

footer {
    max-width: $footer-width;
    margin: auto;
}

span.timestamp::after {
    content: $timestamp-pseudo;
    margin: $entry-meta-margin;
}

span.tag:not(:last-child)::after {
    content: $tag-pseudo;
}

main {
    max-width: $main-width;
    margin: auto;
}

main#index {
    article {
        padding: $base-padding;
        width: 100%;
        
        .entry-meta {
            color: $entry-meta-font-color;
        }

        h1, h2, h3, h4, h5, h6 {
            font-family: $entry-title-font-family;
        }

        h1 {
            color: $entry-title-color;
            font-size: $entry-h1-size;
        }

        h2 {
            color: $entry-section-color;
            font-size: $entry-h2-size; 
        }
    }
}

main#list {
    h1 {
        color: $entry-title-color;
        font-size: $list-entry-h1-size;
    }

    .list-summary:not(:last-child) {
        border-bottom: 1px solid #777777;
    }

    .list-meta {
        color: $entry-meta-font-color;
        margin-bottom: $base-margin;
    }
}

.copyright {
    color: $copyright-font-color;
    font-size: $copyright-font-size;
}