<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
  <!-- Open Graph -->
  {{ if .IsPage }}
  <meta charset="UTF-8">
  <meta property="og:title" content="{{ .Title }}" />
  <meta property="og:type" content="article" />
  <meta property="og:url" contnet="{{ .Permalink }}" />
  <meta property="og:image" content="{{ .Site.Params.siteImage }}" />
  <meta property="og:site_name" content="{{ .Site.Title }}" />
  <meta property="og:description" content="{{ .Summary }}" />
  <meta property="og:locale" content="ja_JP" />
  <!-- Twitter -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:url" content="{{ .Permalink }}" />
  <meta name="twitter:title" content="{{ .Title }}" />
  <meta name="twitter:description" content="{{ .Summary }}" />
  <meta name="twitter:image" content="{{ .Site.Params.siteImage }}" />
  {{ end }}
  {{ if .IsNode }}
  <meta charset="UTF-8">
  <meta property="og:title" content="{{ .Title }}" />
  <meta property="og:type" content="article" />
  <meta property="og:url" contnet="{{ .Permalink }}" />
  <meta property="og:image" content="{{ .Site.Params.siteImage }}" />
  <meta property="og:site_name" content="{{ .Site.Title }}" />
  <meta property="og:description" content="{{ .Site.Params.description }}" />
  <meta property="og:locale" content="ja_JP" />
  <!-- Twitter -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:url" content="{{ .Permalink }}" />
  <meta name="twitter:title" content="{{ .Title }}" />
  <meta name="twitter:description" content="{{ .Site.Params.description }}" />
  <meta name="twitter:image" content="{{ .Site.Params.siteImage }}" />
  {{ end }}

  <link rel="stylesheet" href='{{ "/css/main.css" | relURL }}'>
  <link rel="stylesheet" href='{{ "/css/monokai-sublime.css" | relURL }}'>

  <title>{{ .Title }} | {{ .Site.Title }} </title>
</head>

<body>
  <header>
    <div id="social">
      {{ with .Site.Params.twitter }}
        <span><a href="https://twitter.com/{{ . }}/">Twitter</a></span>
      {{ end }}
      {{ with .Site.Params.github }}
        <span><a href="https://github.com/{{ . }}">GitHub</a></span>
      {{ end }}
      {{ with .Site.Params.facebook }}
        <span><a href="https://facebook.com/{{ . }}">Facebook</a></span>
      {{ end }}
    </div>
    
    <div id="branding">
      <h1><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
      <h2>{{ .Site.Params.description }}</h2>
    </div>
  </header>