{{ partial "header" . }}
  <main id="list">
    {{ range .Data.Pages.ByPublishDate }}
    <div class="list-summary">
      <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
      <div class="list-meta">
        <span class="timestamp"><time>{{ .Date.Format "2006-01-02 15:04:05" }}</time></span>
        {{ range $index, $tag := .Params.tags }}
        {{ $path := $tag | printf "%s%s" "/tags/" | urlize | relURL }}
        <span class="tag"><a href='{{ $path }}'>#{{ $tag }}</a></span>
        {{ end }}
      </div>
    </div>
    {{ end }}
  </main>
{{ partial "footer" . }}